<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Town/City:</strong>
  <%= @location.towncity %>
</p>

<p>
  <strong>Zip/Postal:</strong>
  <%= @location.zippostal %>
</p>

<p>
  <strong>Number of Reviews:</strong>
  <%= @location.reviews.size %>
</p>

<%= link_to 'Back', locations_path %>