<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Town/City:</strong>
  <%= @location.towncity %>
</p>

<p>
  <strong>Zip/Postal:</strong>
  <%= @location.zippostal %>
</p>

<p>
  <strong>Current Score:</strong>
  <%= @location.score %>
</p>