<h1>Welcome to the Macchiato Test!</h1>

<%= image_tag "home_pic.jpg" %>

<%= form_for :search do |f| %>
  <p>
    <%= f.label :'Enter a coffee Shop Name' %><br>
    <%= f.text_field :search_text %>
  </p>
 
  <p>
    <%= f.submit :'Search!' %>
  </p>
<% end %>